<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="feedz.io" value="https://f.feedz.io/bridge-core/bridge-nuget/nuget/index.json"/>
        <!--<add key="my-nexus" value="https://nexus.com/repository/nuget-hosted/" />-->
        <!--<add key="my-artifactory" value="https://artifactory.com/repository/nuget-hosted/" />-->
        <!--<add key="my-proget" value="https://proget.com/repository/nuget-hosted/" />-->
    </packageSources>
    <!--<packageSourceCredentials>
        <my-nexus>
            <add key="Username" value="my.deployer" />
            <add key="ClearTextPassword" value="my-password" />
        </my-nexus>
    </packageSourceCredentials>
    <packageSourceCredentials>
        <my-artifactory>
            <add key="Username" value="my.deployer" />
            <add key="ClearTextPassword" value="my-password" />
        </my-artifactory>
    </packageSourceCredentials>
    <packageSourceCredentials>
        <my-proget>
            <add key="Username" value="my.deployer" />
            <add key="ClearTextPassword" value="my-password" />
        </my-proget>
    </packageSourceCredentials>-->
</configuration>