@model Bridge.Unique.Profile.API.Models.Results.ValidationResult

<!DOCTYPE html>

<html>
<head>
    <title>Bup - Bridge Unique Profile</title>
</head>
<body>
<div>
    @Html.Raw(Model.Message)
</div>
</body>
</html>